---
import BaseLayout from '../layouts/BaseLayout.astro';
import Container from '../components/ui/Container.astro';
import { getEntry } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import Section from '../components/ui/Section.astro';
import ContentList from '../components/shared/ContentList.astro';
import { getCollection } from 'astro:content';
import BaseHero from '../components/shared/BaseHero.astro';
import ProjectCard from '../components/ui/ProjectCard.astro';

const siteConfig = await getEntry('site', 'home');

if (!siteConfig) {
  throw new Error('Site configuration not found');
}

const site: CollectionEntry<'site'>['data'] = siteConfig.data;

const projects = await getCollection('projects');
const featuredProjects = projects
  .filter((project: CollectionEntry<'projects'>) => project.data.featured)
  .sort((a, b) => (a.data.order ?? 99) - (b.data.order ?? 99))
  .slice(0, 2);
---

<BaseLayout title={`${site.name} - Portfolio`} description={site.introduction}>
  <Container>
    <BaseHero
      title={site.name}
      description={site.title}
      resumeLink={[
        'Download Résumé',
        'https://drive.google.com/file/d/1RwdpDQ4snD-ILkuIEh1m7TSruSV_TlO2/view?usp=sharing',
      ]}
    />
    <Section class='hero'>
      {site.aboutMe.map((paragraph) => <p class='paragraph'>{paragraph}</p>)}

      {
        site.socialLinks && (
          <div class='social-links'>
            {site.socialLinks.map(({ platform, url }) => (
              <a href={url} target='_blank' rel='noopener noreferrer'>
                {platform}

                <i class='fa-solid fa-arrow-up-right-from-square' />
              </a>
            ))}
          </div>
        )
      }
    </Section>

    <Section class='section'>
      <div class='section-header'>
        <h2>{site.sections.projects.title}</h2>
        <a href='/projects'>{site.sections.projects.viewAllText}</a>
      </div>
      <ContentList>
        {
          featuredProjects.map((project) => (
            <ProjectCard
              title={project.data.title}
              description={project.data.description}
              links={project.data.links}
              techs={project.data.techs}
              slug={project.id}
            />
          ))
        }
      </ContentList>
    </Section>
  </Container>
</BaseLayout>

<style>
  main {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    padding: 2rem 0;
  }

  .hero {
    padding: 4rem 0;
  }

  .introduction {
    margin: 1.5rem 0;
    opacity: 0.9;
  }

  .section {
    margin: 4rem 0;
  }

  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 2rem;
    /* opacity: 0.7; */
  }

  .title-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 1rem;
    font-size: var(--text-sm);
  }

  .company-info {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }

  .company-logo {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: contain;
  }

  .social-links {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
    font-size: var(--text-sm);
  }

  .social-links a {
    display: flex;
    align-items: center;
    gap: 1rem;
    opacity: 0.7;
  }

  .social-links a:hover {
    opacity: 1;
  }

  @media (max-width: 640px) {
    main {
      padding: 1rem 0;
    }

    .hero {
      padding: 3rem 0;
    }

    .container {
      padding: 0 1rem;
    }
  }
</style>
