---
import { getCollection } from 'astro:content';
import BaseHero from '../../components/shared/BaseHero.astro';
import Container from '../../components/ui/Container.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import ContentList from '../../components/shared/ContentList.astro';
import ProjectCard from '../../components/ui/ProjectCard.astro';

const projects = (await getCollection('projects')).sort(
  (a, b) => (a.data.order ?? 99) - (b.data.order ?? 99)
);
---

<BaseLayout title='Projects' description='My projects'>
  <Container>
    <BaseHero
      title='Project'
      description="Here are some of the projects I've worked on. Each one represents something I built, learned from, or enjoyed creating."
    />

    <!-- This is just for spacing -->
    <div style='height: 4rem;'></div>

    <ContentList>
      {
        projects.map((project) => (
          <ProjectCard
            title={project.data.title}
            description={project.data.description}
            links={project.data.links}
            techs={project.data.techs}
            slug={project.id}
          />
        ))
      }
    </ContentList>
  </Container>
</BaseLayout>
